{% extends "base.html" %}
{% block title %}
Index page
{% endblock %}

{% block content %}
<div class="container-fluid">
    <!--Header-->
    <header class="row border-bottom">
        <div class="col">
            <p class="h1">To-do-list</p>
        </div>

        <!--Warning-->
        <div class="col p-3 text-end">
            <p class="h4">Please make sure you are logged in</p>
        </div>
    </header>

    <!--Main-->
    <main class="row pt-5">
        <!--Error-->

        {% if error %}

            <p class="alert alert-danger">{{ error }}</p>

        {% endif %}

        <!--Register-->
            <div class="col">
                <section class="container w-50">
                    <p class="text-center h2">Register</p>

                    <form action="/register" method="POST">
                        <div class="form-floating mb-3 mt-3">
                            <input type="text" class="form-control" id="name" placeholder="Enter your name" name="name" required>
                            <label for="name">Name</label>
                        </div>

                        <div class="input-group">
                            <span class="input-group-text">@</span>
                            <input type="text" name="email" id="email" class="form-control" placeholder="Email" required>
                        </div>

                        <div class="form-floating mt-3 mb-3">
                            <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" required>
                            <label for="pwd">Password</label>
                        </div>

                        <div class="submit container">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="reset" class="btn btn-danger">Reset</button>
                        </div>
                    </form>
                </section>
            </div>
            
        <!--Login-->
        <div class="col">
            <section class="container w-50">
                <p class="text-center h2">Login</p>

                <form action="/login" method="POST">
                    <div class="form-floating mb-3 mt-3">
                        <input type="text" class="form-control" id="name" placeholder="Enter your name" name="name" required>
                        <label for="name">Name</label>
                    </div>

                    <div class="form-floating mt-3 mb-3">
                        <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" required>
                        <label for="password">Password</label>
                    </div>

                    <div class="submit container">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="reset" class="btn btn-danger">Reset</button>
                    </div>
                </form>
            </section>
        </div>
    </main>

    <!--Footer-->
    <footer>

    </footer>
</div>
{% endblock %}